RewriteEngine on
RewriteCond %{HTTP_HOST} ^wbtyp\.net$ [OR]
RewriteCond %{HTTP_HOST} ^www\.wbtyp\.net$
RewriteRule ^/?$ "http\:\/\/book\.webtypography\.net" [R=301,L]

Redirect 301 /download https://www.dropbox.com/sh/bsbs2km5gxii9nx/AACkKrkqTEduDuoZkbt7G-Hca?dl=0
Redirect 301 /1 http://book.webtypography.net/
Redirect 301 /2 http://clagnut.com/
Redirect 301 /3 http://clearleft.com/
Redirect 301 /4 https://blog.typekit.com/2010/12/14/a-closer-look-at-truetype-hinting/
Redirect 301 /5 http://alistapart.com/article/readingdesign
Redirect 301 /6 https://alistapart.com/article/dao
Redirect 301 /7 https://www.smashingmagazine.com/2016/11/css-grids-flexbox-and-box-alignment-our-new-system-for-web-layout/
Redirect 301 /8 http://journals.lww.com/optvissci/Fulltext/2011/07000/Font_Size_and_Viewing_Distance_of_Handheld_Smart.5.aspx
Redirect 301 /9 http://designobserver.com/feature/thirteen-ways-of-looking-at-a-typeface/5497
Redirect 301 /10 https://www.typotheque.com/articles/dutch_type_design
Redirect 301 /11 http://www.smashingmagazine.com/2010/11/04/best-practices-of-combining-typefaces/
Redirect 301 /12 http://blog.fawny.org/2005/09/21/measures/
Redirect 301 /13 https://coop-design-manual.herokuapp.com/styles/typography.html
Redirect 301 /14 http://scholar.google.com/scholar?q=%22How+physical+text+layout+affects+reading+from+screen%22
Redirect 301 /15 https://github.com/filamentgroup/tablesaw
Redirect 301 /16 http://blog.easy-designs.net/archives/responsive-tables/
Redirect 301 /17 https://blog.prototypr.io/the-value-of-multi-typeface-design-ccd67227b0ee
Redirect 301 /18 http://codepen.io/ghepting/pen/tLnHK/
Redirect 301 /19 https://medium.com/@tiro/12ba6cd2369
Redirect 301 /20 http://kupferschrift.de/cms/2012/03/on-classifications/
Redirect 301 /21 http://kupferschrift.de/cms/2016/01/type-classification-texts/
Redirect 301 /22 http://affect.media.mit.edu/pdfs/05.larson-picard.pdf
Redirect 301 /23 https://webkit.org/blog/3709/using-the-system-font-in-web-content/
Redirect 301 /24 http://alistapart.com/article/a-simpler-page
Redirect 301 /25 https://www.nngroup.com/articles/f-shaped-pattern-reading-web-content/
Redirect 301 /26 https://www.paintcodeapp.com/news/ultimate-guide-to-iphone-resolutions
Redirect 301 /27 http://ia.net/blog/responsive-typography-the-basics/
Redirect 301 /28 https://ia.net/topics/the-web-is-all-about-typography-period/
Redirect 301 /29 https://robinrendle.com/essays/futures-of-typography/
Redirect 301 /30 https://robinrendle.com/essays/new-web-typography/
Redirect 301 /31 http://responsivewebdesign.com/podcast/variable-fonts
Redirect 301 /32 http://www.typotalks.com/videos/the-importance-of-being-ernestine/
Redirect 301 /33 http://typedrawers.com/discussion/comment/24051/#Comment_24051
Redirect 301 /34 http://www.vignelli.com/canon.pdf
Redirect 301 /35 http://gmunch.home.pipeline.com/typo-L/misc/ward.htm
Redirect 301 /36 https://medium.design/7c03a9274f9
Redirect 301 /37 http://alistapart.com/topic/typography-web-fonts
Redirect 301 /38 http://alphabettes.com/
Redirect 301 /39 http://clagnut.com/archive/typography/
Redirect 301 /40 http://webtypography.net/
Redirect 301 /41 http://ilovetypography.com/
Redirect 301 /42 http://www.istd.org.uk/
Redirect 301 /43 http://practicaltypography.com/
Redirect 301 /44 https://prowebtype.com/
Redirect 301 /45 http://www.shadycharacters.co.uk/
Redirect 301 /46 http://typedia.com/
Redirect 301 /47 http://blog.typekit.com/
Redirect 301 /48 http://practice.typekit.com/
Redirect 301 /49 http://typographica.org/
Redirect 301 /50 https://typographyontheweb.com/
Redirect 301 /51 http://typetasting.com/
Redirect 301 /52 http://fontsinuse.com/
Redirect 301 /53 http://www.typeroom.eu/
Redirect 301 /54 http://www.typetoken.net/
Redirect 301 /55 http://typewolf.com/
Redirect 301 /56 http://typ.io/
Redirect 301 /57 http://clagnut.com/sandbox/font-size-adjust.html
Redirect 301 /58 http://clagnut.com/sandbox/font-size-adjust-ex.html
Redirect 301 /59 http://brunildo.org/test/fontlist3.html
Redirect 301 /60 http://www.axis-praxis.org/
Redirect 301 /61 http://caniuse.com/
Redirect 301 /62 https://css-tricks.com/
Redirect 301 /63 http://explorationsintypography.com/diy/
Redirect 301 /64 https://itunes.apple.com/gb/app/font-locator/id582240320?mt=8
Redirect 301 /65 http://www.identifont.com/
Redirect 301 /66 https://en.wikipedia.org/wiki/Quotation_mark
Redirect 301 /67 https://www.fontspring.com/matcherator
Redirect 301 /68 http://www.studiothick.com/essays/web-typography-is-broken
Redirect 301 /69 http://modularscale.com/
Redirect 301 /70 http://quotesandaccents.com/
Redirect 301 /71 https://en.wikipedia.org/wiki/List_of_typographic_features#OpenType_typographic_features
Redirect 301 /72 http://webdesign.maratz.com/lab/responsivetypography/
Redirect 301 /73 http://simplescale.online/
Redirect 301 /74 https://sizecalc.com/
Redirect 301 /75 http://utom.design/measure/
Redirect 301 /76 http://stateofwebtype.com/
Redirect 301 /77 http://typecast.com/
Redirect 301 /78 http://www.typesample.com/
Redirect 301 /79 https://typetester.org/
Redirect 301 /80 http://typography.supply/
Redirect 301 /81 https://www.ox.ac.uk/public-affairs/style-guide
Redirect 301 /82 https://www.w3.org/International/articles/language-tags/
Redirect 301 /83 https://www.w3.org/TR/WCAG20/
Redirect 301 /84 http://webfontspecimen.com/
Redirect 301 /85 https://www.w3.org/TR/WCAG20-TECHS/G183.html#G183-resources
Redirect 301 /86 http://www.chengyinliu.com/whatfont.html
Redirect 301 /87 https://www.myfonts.com/WhatTheFont/
Redirect 301 /88 http://styleguides.io/
Redirect 301 /89 https://www.w3.org/tr/css2/
Redirect 301 /90 https://www.w3.org/tr/css3-background/
Redirect 301 /91 https://www.w3.org/tr/css-display-3/
Redirect 301 /92 https://www.w3.org/tr/css-flexbox-1/
Redirect 301 /93 https://www.w3.org/tr/css-font-loading-3/
Redirect 301 /94 https://www.w3.org/tr/css-fonts-3/
Redirect 301 /95 https://drafts.csswg.org/css-fonts-4/
Redirect 301 /96 https://www.w3.org/tr/css-grid-1/
Redirect 301 /97 https://www.w3.org/tr/css-inline-3/
Redirect 301 /98 https://www.w3.org/tr/css3-mediaqueries/
Redirect 301 /99 https://www.w3.org/tr/css3-multicol/
Redirect 301 /100 https://www.w3.org/tr/selectors/
Redirect 301 /101 https://www.w3.org/tr/css-text-decor-3/
Redirect 301 /102 https://www.w3.org/tr/css-text-3/
Redirect 301 /103 https://drafts.csswg.org/css-text-4/
Redirect 301 /104 https://www.w3.org/tr/css-transforms-1/
Redirect 301 /105 https://www.w3.org/tr/css3-values/
Redirect 301 /106 https://www.a2-type.co.uk
Redirect 301 /107 https://www.colophon-foundry.org
Redirect 301 /108 https://commercialtype.com
Redirect 301 /109 https://www.daltonmaag.com/
Redirect 301 /110 https://www.dardenstudio.com/
Redirect 301 /111 http://www.dstype.com/
Redirect 301 /112 http://emigre.com/
Redirect 301 /113 http://www.exljbris.com/
Redirect 301 /114 http://www.fontbureau.com/
Redirect 301 /115 https://www.fontfont.com
Redirect 301 /116 http://www.fontsmith.com/
Redirect 301 /117 https://frerejones.com/
Redirect 301 /118 http://www.g-type.com/
Redirect 301 /119 https://www.typography.com/
Redirect 301 /120 https://houseind.com/
Redirect 301 /121 http://hvdfonts.com/
Redirect 301 /122 http://typography.net/
Redirect 301 /123 http://justanotherfoundry.com/
Redirect 301 /124 https://klim.co.nz/
Redirect 301 /125 http://lettersfromsweden.se/
Redirect 301 /126 http://www.lucasfonts.com/
Redirect 301 /127 http://www.marksimonson.com/
Redirect 301 /128 http://www.milieugrotesque.com
Redirect 301 /129 http://motyfo.com
Redirect 301 /130 https://ourtype.com
Redirect 301 /131 http://www.parachutefonts.com/
Redirect 301 /132 https://playtype.com/
Redirect 301 /133 https://positype.com/
Redirect 301 /134 https://pstypelab.com
Redirect 301 /135 https://www.rosettatype.com/
Redirect 301 /136 http://sudtipos.com/
Redirect 301 /137 http://www.foundrytypes.co.uk/
Redirect 301 /138 http://type-together.com/
Redirect 301 /139 http://www.typejockeys.com/
Redirect 301 /140 https://typofonderie.com/
Redirect 301 /141 http://www.typolar.com/
Redirect 301 /142 https://www.typotheque.com/
Redirect 301 /143 http://www.underware.nl/
Redirect 301 /144 http://virusfonts.com/
Redirect 301 /145 https://lists.w3.org/Archives/Public/www-style/2015Jan/0078.html
Redirect 301 /146 http://jontangerine.com/
Redirect 301 /147 https://thegreatdiscontent.com/interview/alison-sudol
Redirect 301 /148 https://css-tricks.com/tag/responsive-tables/
Redirect 301 /149 https://abookapart.com/products/get-ready-for-css-grid-layout
Redirect 301 /150 http://nyc.ampersandconf.com/
Redirect 301 /151 https://www.filamentgroup.com/lab/font-events.html
Redirect 301 /152 https://www.kickstarter.com/projects/clagnut/web-typography-a-handbook
Redirect 301 /153 https://typography.guru/
Redirect 301 /154 http://typedrawers.com
Redirect 301 /155 https://www.htmlsymbol.com/
Redirect 301 /workshop-files https://www.dropbox.com/s/f02zq9yggiq9t4i/webtype-workshop.zip?dl=0
Redirect 301 /workshop-slides https://www.dropbox.com/s/k9fn8vhn8ttvall/web%20typography%20workshop.pdf?dl=0

# php -- BEGIN cPanel-generated handler, do not edit
# Set the “ea-php71” package as the default “PHP” programming language.
<IfModule mime_module>
  AddHandler application/x-httpd-ea-php71 .php .php7 .phtml
</IfModule>
# php -- END cPanel-generated handler, do not edit
